<div class="flex w-full p-1 bg-amber-200 border border-solid border-amber-300">
    <a class="mx-3 self-center text-2xl" href="{% url 'root' %}">🍁 Leave Management System</a>
    <div class="ml-auto m-2">
        {% if user.is_authenticated %}
            <a class="self-center py-2 px-3 hover:bg-amber-400 rounded-md text-lg"
               href="{% url 'logout' %}">Log Out</a>
        {% else %}
            <a class="self-center py-2 px-3 hover:bg-amber-400 rounded-md text-lg"
               href="{% url 'signup' %}">Sign Up</a>
            <a class="self-center py-2 px-3 hover:bg-amber-400 rounded-md text-lg"
               href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
</div>
